<html>

<table>
<tr>
	<th>Vector</th>
	<th>Duration</th>
	<th>Status Code</th>
	<th>Response Length</th>
	<th>Error</th>
	<th>Found</th>
	<th>Url</th>
	<th>Parameter</th>
	<th>Full response</th>
</tr>
{{ range $value := . }}
   <tr>
	<td>{{$value.AttackVector.Vector}}</td>
	<td>{{$value.Duration}}</td>
	{{if $value.Response}}
	<td>{{$value.Response.StatusCode}}</td>
	{{else}}
	<td>-1</td>
	{{end}}
	<td>{{$value.ResponseBodyLength}}</td>
	<td>{{$value.Error}}</td>
	<td>{{$value.Found}}</td>
	<td><a href="{{$value.Url}}" target="_blank">Open</a></td>
	<td>{{$value.ParamTarget}}</td>
	<td><a href="{{$value.FilePath}}" target="_blank">Show</a></td>
	</tr>
{{ end }}
</table>
</html>